<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>COSMIC</title>
	<link rel="stylesheet" type="text/css" href="style/Style-2.css" />
	<link rel="stylesheet" type="text/css" href="style/Style-3.css" />
	
</head>

<body>
	

	<div class="conteiner">
		<div class="header"><span>-COSMIC-</span></div>
 
		<div id="menu">
			<button class="btn">
				<a style="text-decoration: none" href="#nd1">Hệ Mặt Trời</a>
			</button>
			<button class="btn">
				<a style="text-decoration: none" href="#nd2">Tin Tức</a>
			</button>
			<button class="btn">
				<a style="text-decoration: none" href="#nd3">Cung Hoàng Đạo</a>
			</button>
			<button class="btn">
				<a style="text-decoration: none" href="#nd4">Lịch Sử</a>
			</button>
			<button class="btn">
				<a style="text-decoration: none" href="#nd5">Giải Đáp</a>
			</button>
		</div>
		<div class="noidung1" id="nd1">
			<hr  width="100%" size="2px" align="center" color=#f8f8f8   />
			<div class="muc01">
				<div class="tdmuc1">-SOLAR SYSTEM-</div>
				<section class="clearfix">
			  <ul class="solarsystem">
				<li class="sun"><a href="#sun"><span>Sun</span></a></li>
				<li class="mercury"><a href="#mercury"><span>Mercury</span></a></li>
				<li class="venus"><a href="#venus"><span>Venus</span></a></li>
				<li class="earth"><a href="#earth"><span>Earth<span class="moon"> &amp; Moon</span></span></a></li>
				<li class="mars"><a href="#mars"><span>Mars</span></a></li>
				<li class="asteroids_meteorids"><span>Asteroids &amp; Meteorids</span></li>
				<li class="jupiter"><a href="#jupiter"><span>Jupiter</span></a></li>
				<li class="saturn"><a href="#saturn"><span>Saturn &amp; <span class="ring">Ring</span></span></a></li>
				<li class="uranus"><a href="#uranus"><span>Uranus</span></a></li>
				<li class="neptune"><a href="#neptune"><span>Neptune</span></a></li>
				<li class="pluto"><a href="#pluto"><span>Pluto</span></a></li>
			  </ul>

			  <ul id="descriptions">
				<li>
				<h2 id="sun">Sun</h2>
				<p>Mặt trời là một ngôi sao, một quả cầu nóng gồm các khí phát sáng ở trung tâm của hệ mặt trời của chúng ta. Ảnh hưởng của nó vượt xa quỹ đạo của Sao Hải Vương và Sao Diêm Vương xa xôi. Nếu không có năng lượng và sức nóng mạnh mẽ của Mặt trời, sẽ không có sự sống trên Trái đất. Và mặc dù nó đặc biệt đối với chúng ta, có hàng tỷ ngôi sao giống như Mặt trời của chúng ta nằm rải rác trên dải Ngân hà.</p>
				</li>

				<li>
				<h2 id="mercury">Mercury</h2>
				<p>Sao Thủy chỉ lớn hơn một chút so với Mặt trăng của Trái đất. Giống như Mặt trăng, sao Thủy có rất ít bầu khí quyển để ngăn chặn các tác động và nó được bao phủ bởi các miệng núi lửa. Mặt trời làm cho ban ngày của Sao Thủy siêu nóng, nhưng vào ban đêm nhiệt độ giảm xuống dưới mức đóng băng hàng trăm độ. Băng thậm chí có thể tồn tại trong miệng núi lửa. Quỹ đạo hình quả trứng của sao Thủy đưa nó quay quanh Mặt trời 88 ngày một lần.</p>
				</li>

				<li>
				<h2 id="venus">Venus</h2>
				<p>Sao Kim là một thế giới mờ mịt với sức nóng dữ dội và hoạt động của núi lửa. Tương tự về cấu trúc và kích thước đối với Trái đất, bầu khí quyển dày và độc hại của Sao Kim giữ nhiệt độ như trong 'hiệu ứng nhà kính'. Nó có nhiệt độ đủ nóng để nấu chảy chì. Nhìn thoáng qua bên dưới những đám mây để lộ ra những ngọn núi lửa và những ngọn núi bị biến dạng. Sao Kim quay chậm theo hướng ngược lại so với hầu hết các hành tinh.</p>
				</li>

				<li>
				<h2 id="earth">Earth</h2>
				<p>Trái đất là một hành tinh đại dương. Nguồn nước dồi dào và sự sống là thứ khiến nó trở thành duy nhất trong hệ mặt trời của chúng ta. Các hành tinh khác, cộng với một số mặt trăng, có băng, khí quyển, các mùa và thậm chí cả thời tiết, nhưng chỉ trên Trái đất, toàn bộ hỗn hợp phức tạp mới kết hợp lại với nhau từ đó thúc đẩy  sự sống.</p>
				</li>

				<li>
				<h2 id="mars">Mars</h2>
				<p>Mặc dù khó có thể nhìn thấy chi tiết bề mặt sao Hỏa từ Trái đất, nhưng các quan sát bằng kính thiên văn cho thấy các đặc điểm thay đổi theo mùa và các mảng trắng ở các cực. Trong nhiều thập kỷ, mọi người suy đoán rằng các khu vực sáng và tối trên sao Hỏa là những mảng thực vật, rằng sao Hỏa có thể là một nơi có khả năng cho các dạng sống và nước có thể tồn tại ở các chóp địa cực. Khi tàu vũ trụ Mariner 4 bay ngang qua sao Hỏa vào năm 1965, nhiều người đã bị sốc khi nhìn thấy những bức ảnh chụp một bề mặt xám xịt. Sao Hỏa dường như là một hành tinh chết.Sao Hỏa vần còn nhiều thứ để ta giải đáp.</p>
				</li>

				<li>
				<h2 id="jupiter">Jupiter</h2>
				<p>Là hành tinh lớn nhất trong hệ mặt trời của chúng ta, với 4 mặt trăng lớn và nhiều mặt trăng nhỏ hơn, Sao Mộc tạo thành một loại hệ mặt trời thu nhỏ. Sao Mộc giống với một ngôi sao trong thành phần. Trên thực tế, nếu nó có khối lượng lớn hơn khoảng 80 lần, nó sẽ trở thành một ngôi sao hơn là một hành tinh.</p>
				</li>

				<li>
				<h2 id="saturn">Saturn</h2>
				<p>Sao Thổ là hành tinh xa nhất trong số năm hành tinh được người xưa biết đến. Giống như Sao Mộc, Sao Thổ được tạo ra chủ yếu từ hydro và heli. Khối lượng của nó lớn gấp 755 lần khối lượng của Trái đất. Gió trong bầu khí quyển trên cao đạt tới 500 mét (1.600 feet) mỗi giây ở khu vực xích đạo. Những cơn gió cực nhanh này, kết hợp với sức nóng bốc lên từ bên trong hành tinh, gây ra các dải màu vàng và các dải màu ấy có thể nhìn thấy trong khí quyển.</p>
				</li>

				<li>
				<h2 id="uranus">Uranus</h2>
				<p>Hành tinh đầu tiên được tìm thấy với sự hỗ trợ của kính thiên văn, Sao Thiên Vương được phát hiện vào năm 1781 bởi nhà thiên văn học William Herschel. Hành tinh thứ bảy tính từ Mặt trời rất xa nên mất 84 năm để hoàn thành một quỹ đạo.</p>
				</li>

				<li>
				<h2 id="neptune">Neptune</h2>
				<p>Cách Mặt Trời gần 4,5 tỷ km (2,8 tỷ dặm), Sao Hải Vương quay quanh Mặt Trời 165 năm một lần. Nó không thể nhìn thấy bằng mắt thường vì khoảng cách cực xa so với Trái đất. Điều thú vị là quỹ đạo hình elip bất thường của hành tinh lùn Sao Diêm Vương đưa Sao Diêm Vương vào bên trong quỹ đạo của Sao Hải Vương trong khoảng thời gian 20 năm trong số 248 năm Trái Đất</p>
				</li>

				<li>
				<h2 id="pluto">Pluto</h2>
				<p>Nhỏ bé, lạnh lẽo và vô cùng xa xôi, sao Diêm Vương được phát hiện vào năm 1930 và từ lâu được coi là hành tinh thứ chín. Nhưng sau khi những khám phá về những thế giới hấp dẫn tương tự còn xa hơn, Sao Diêm Vương đã được phân loại lại thành một hành tinh lùn. Lớp thế giới mới này có thể cung cấp một số bằng chứng tốt nhất về nguồn gốc của hệ mặt trời của chúng ta.</p>
				</li>
			  </ul>

			</section>
			</div>
			<hr  width="100%" size="2px" align="center" color=#f8f8f8  />
		</div>
		<div class="noidung2" id="nd2">
			<div class="khungmuc02">
				<div class="muc02">
				<div class="tdmuc2">-NEWS:</div>
					<div class="tintuc_1">
						<div class="tintuc_1a">
						<img a src="images/astronaut-4106766_640.jpg">
						</div>
						<div class="tintuc_1b">
							<div class="tintuc_1bpic"></div>
							<div class="tintuc_1bpic"></div>
						</div>
					</div>
					<div class="tintuc_2">
					<img src="images/tauvutru.png">
					</div>
				</div>
			</div>
		</div>	
		<div class="noidung3" id="nd3">
			<div class="muc03">
				<div class="tdmuc3">-ZODIACS:</div>
				<div class="tab03">
					  <button class="tablinks" onclick="openCity(event, 'Bạch Dương')">Bạch Dương</button>
					  <button class="tablinks" onclick="openCity(event, 'Kim Ngưu')">Kim Ngưu</button>
					  <button class="tablinks" onclick="openCity(event, 'Song Tử')">Song Tử</button>
					  <button class="tablinks" onclick="openCity(event, 'Cự Giải')">Cự Giải</button>
					  <button class="tablinks" onclick="openCity(event, 'Sư Tử')">Sư Tử</button>
					  <button class="tablinks" onclick="openCity(event, 'Xử Nữ')">Xử Nữ</button>
					  <button class="tablinks" onclick="openCity(event, 'Thiên Bình')">Thiên Bình</button>
					  <button class="tablinks" onclick="openCity(event, 'Bọ Cạp')">Bọ Cạp</button>
					  <button class="tablinks" onclick="openCity(event, 'Nhân Mã')">Nhân Mã</button>
					  <button class="tablinks" onclick="openCity(event, 'Ma Kết')">Ma Kết</button>
					  <button class="tablinks" onclick="openCity(event, 'Bảo Bình')">Bảo Bình</button>
					  <button class="tablinks" onclick="openCity(event, 'Song Ngư')">Song Ngư</button>
				</div>

					<div id="Bạch Dương" class="tabcontent03">
					  <h3>Cung Bạch Dương – Aries (21/3 – 20/4) – Thần chiến tranh Athena</h3>
					  <p>Những người mang chòm sao Bạch Dương có tên tiếng Anh là Aries sinh vào ngày 21/03 – 20/4. Được bảo hộ bởi nữ thần chiến tranh Athena, người thuộc cung Bạch Dương nổi bật với tính cách nhanh nhẹn, mạnh mẽ và thích cạnh tranh. Nhưng đôi khi họ cũng có chút kiêu ngạo mà không quan tâm tới cảm xúc của người khác. Thường bốc đồng, nóng nảy và có chút hiếu thắng cũng là những yếu điểm của Aries. </p>
					</div>

					<div id="Kim Ngưu" class="tabcontent03">
					  <h3>Cung Kim Ngưu – Taurus (21/4 – 20/5) – Nữ thần sắc đẹp Aphrodite</h3>
					  <p>Nếu bạn sinh trong khoảng thời gian từ 21/4 -20/5 sẽ thuộc chòm sao Kim Ngưu có tên tiếng Anh là Taurus. Được bảo hộ bởi nữ thần Aphrodite sắc đẹp và tình yêu nên những “con bò trắng” Kim Ngưu thường có vẻ đẹp thu hút, tính cách nhẹ nhàng và có khả năng giao tiếp tốt. Họ cũng chính là tuýp người đại đại diện cho sự “cứng đầu”, sống thực tế, thích tiền và luôn coi trọng danh tiếng, địa vị.</p> 
					</div>

					<div id="Song Tử" class="tabcontent03">
					  <h3>Cung Song Tử – Gemini (21/5 – 21/6) – Thần ánh sáng Apollo</h3>
					  <p>Theo thần thoại Hy Lạp, Apollo là một vị thần của ánh sáng, của nghệ thuật và của những điều lý tưởng. Thần ánh sáng Apollo sẽ đại diện cho những người thuộc chòm sao Song Tử, có tên tiếng Anh là Gemini. Họ sẽ sinh trong khoảng thời gian 21/05 – 21/06. Khá thông minh, lanh lợi và giao tiếp tốt là những đặc trưng nổi bật nhất của những người thuộc chòm sao Gemini. Hay thay đổi, thiếu kiên trì, dễ chán nản và tính cách đôi lúc quá tự do cũng là những nhược điểm dễ nhận thấy của một Gemini. </p>
					</div>
					<div id="Cự Giải" class="tabcontent03">
					  <h3>Cung Cự Giải – Cancer (22/6-22/7) – Thần thương mại & du lịch Hermes</h3>
					  <p>Trong 12 cung hoàng đạo, những người thuộc cung Cự Giải sẽ được bảo hộ bởi nữ thần Hermes có ngày sinh từ 22/6 -22/7, tên tiếng Anh Cancer. Những người thuộc chòm sao Cự Giải được ban cho những đặc trưng nổi bật: Luôn biết cách cư xử khéo, đa tài và có đầu óc sáng tạo. Nhưng Cự Giải rất dễ nhạy cảm, họ thường có tinh thần không tốt và rất dễ bị tâm trạng ảnh hưởng tới quyết định</p>
					</div>
						<div id="Sư Tử" class="tabcontent03">
						  <h3>Cung Sư Tử – Leo (24/7 – 23/8) – Thần Sấm Sét Zeus</h3>
						  <p>Là cung thứ 5 trong vòng tròn 12 cung Hoàng Đạo, những người thuộc chòm sao Sư Tử sẽ sinh vào ngày 23/7-22/8, có tên gọi tiếng Anh là Leo.  Được bảo hộ bởi vị thần tối cao đỉnh núi Olympus, nên những người thuộc chòm sao Sư Tử luôn giàu bản lĩnh, sức mạnh phi thường và vô cùng quyết đoán. Trái lại, Sư Tử cũng rất bảo thủ trong công việc và cuộc sống. </p>
						</div>
					<div id="Xử Nữ" class="tabcontent03">
						  <h3>Cung Xử Nữ – Virgo (24/8 – 23/9) –  Nữ Thần Nông nghiệp Demeter</h3>
						  <p>Những người thuộc cung Xử Nữ có tên tiếng Anh là Virgo, sinh ra vào những ngày 24/8 – 23/9. Do nữ thần Demeter bảo hộ là chị gái của thần Zues và có con gái là nữ thần Persephone. Xử Nữ là những người duyên dáng, xinh đẹp, nhẹ nhàng và có phần tháo vát, đảm đang trong công việc. Ngoài ra ở họ cũng tồn tại một số nhược điểm dễ nhận thấy: luôn cầu toàn, thích bình phẩm và hay phê phán người khác. </p>
						</div>
					<div id="Thiên Bình" class="tabcontent03">
						  <h3>Cung Thiên Bình – Libra (23/09 – 23/10) – Thần thợ rèn Hephaestus</h3>
						  <p>Những người thuộc chòm sao Thiên Bình sẽ sinh vào ngày 23/9 -23/10, có tên tiếng Anh la Libra. Được thần bảo hộ Hermes ban cho tài năng, khéo léo, cần cù và luôn thân thiện với mọi người. Tuy nhiên, ở Thiên Bình vẫn tồn tại những yếu điểm dễ nhận thấy như thiếu quyết đoán và hay do dự trước khi đưa ra lựa chọn, quyết định.</p>
						</div>
					<div id="Bọ Cạp" class="tabcontent03">
						  <h3>Cung Bò Cạp – Scorpio (24/10 – 22/1) – Thần chiến tranh Ares</h3>
						  <p>Trong 12 cung hoàng đạo, Bọ Cạp có lẽ là cung hoàng đạo được biết đến với nhiều tên gọi nhất: cung Thần Nông, Ho Cáp hay Thiên Yết. Tên tiếng Anh chung của cung hoàng đạo này là Scorpius có ngày sinh vào 24/10 -22/11 được sự bảo hộ của thần chiến tranh Ares. Khác với thần Athena thì thần Ares đại diện cho cuộc chiến tranh xâm lược tàn bạo. Ở những người thuộc cung Bọ Cạp nổi bật tính cách quyết đoán, mạnh mẽ và ý nghĩ nghị lực. Đổi lại, Bọ Cạp rất lạnh lùng, có tham vọng lớn và đôi chút tàn nhẫn trong những hành động của mình. </p>
						</div>
					<div id="Nhân Mã" class="tabcontent03">
						  <h3>Cung Nhân Mã – Sagittarius (23/11-21/12) – Nữ thần thợ săn Artemis</h3>
						  <p>Những người thuộc cung Nhân Mã được bảo hộ bởi nữ thần thợ săn Artemis, có tên tiếng Anh là Sagittarius và sinh vào ngày 23/11-21/2. Phẩm chất trung thực, lối sống nguyên tắc và sự thẳng thắn là những điểm tích cực ở những người thuộc chòm sao Nhân Mã. Nhưng điểm không tốt của Nhân Mã là không kiên định và có chút vô tâm.</p>
						</div>
					<div id="Ma Kết" class="tabcontent03">
						  <h3>Cung Ma Kết – Capricorn (22/12 -19/1)- Nữ thần lửa Hestia </h3>
						  <p>Sinh vào những ngày 22/12-19/01 bạn sẽ mang danh nghĩa chòm sao Ma Kết, tên tiếng Anh là Capricorn. Được sự bảo hộ của Thần Lửa, không chỉ là một Ma Kết có khả năng lãnh đạo, lý trí cao, họ còn nổi bật với đặc trưng chịu khó, cần cù và rất chăm chỉ. Ngược lại, có chút cứng nhắc và khô khan là những yếu điểm của Capricorn. </p>
						</div>
					<div id="Bảo Bình" class="tabcontent03">
						  <h3>Cung Bảo Bình – Aquarius (20/01 -18/02) – Nữ thần hôn nhân & gia đình Hera </h3>
						  <p>Những người thuộc chòm sao Bảo Bình sẽ sinh vào ngày 20/01 -18/02, có tên tiếng Anh là Aquarius. Theo thần thoại Hy Lạp, nữ thần Hera đại diện cho hôn nhân và gia đình bảo hộ cho những người thuộc cung hoàng đạo Bảo Bình. Dễ thấy Bảo Bình khá xinh đẹp, trí tuệ thông minh sắc sảo. Bảo Bình cũng có khả năng lãnh đạo tốt, sự độc lập và tinh thần dũng cảm kiên cường. Cứng đầu, thiếu kiên nhẫn và đôi chút nóng nảy không kiểm soát là những điểm yếu của Bảo Bình. </p>
						</div>
					<div id="Song Ngư" class="tabcontent03">
						  <h3>Cung Song Ngư – Pisces (19/02-20/03) – Thần biển cả Poseidon</h3>
						  <p>Là cung Hoàng Đạo thứ 12 trong 12 cung Hoàng Đạo, chòm sao Song Ngư là những người có ngày sinh từ 12/02 -20/03, tên tiếng Anh là Pisces. Do vị thần biển cả Poseidon bảo hộ ban cho Song Ngư phẩm chất giàu tình cảm và có được trực giác tuyệt vời. Tuy nhiên, dễ thấy ở Song Ngư có chút yếu đuối, thiếu thực tế, dễ bị tổn thương và hay mơ mộng.</p>
						</div>
					
			</div>
		</div>
		<hr  width="100%" size="2px" align="center" color=#f8f8f8  />
		<div class="noidung4" id="nd4">
			<div class="muc04">
				<div class="tdmuc4">-HISTORIES (Viet Nam):</div>
			<div class="history-tl-container">
			  <ul class="tl">
				<li class="tl-item" ng-repeat="item in retailer_history">
				  
				  <div class="item-title">Giai đoạn trước 2008</div>
				  <div class="item-detail">&#9673;Tháng 6/2006 Thủ tướng Chính phủ phê duyệt “Chiến lược nghiên cứu và ứng dụng công nghệ vũ trụ đến năm 2020”.</div>
					<div class="item-detail">&#9673;Năm 2007, TS. Phạm Anh Tuấn cùng các đồng nghiệp chủ động hợp tác với Cơ quan hàng không vũ trụ Nhật Bản (JAXA) để khởi động dự án vệ tinh siêu nhỏ PicoDragon. Đây được coi là bước đi đầu tiên cho quá trình phát triển vệ tinh của Việt Nam.</div>
					<div class="item-detail">&#9673;Năm 2008, lần đầu tiên 5 cán bộ của Viện Khoa học và Công nghệ Việt Nam đã được cử đi đào tạo về phát triển vệ tinh tại Trung tâm Vũ trụ Tsukuba, Nhật Bản.</div>
				</li>
				<li class="tl-item" ng-repeat="item in retailer_history">
				  <div class="item-title">Giai đoạn 2008-2010</div>
				  <div class="item-detail">&#9673;Năm 2008, Viện Hàn lâm Khoa học và Công nghệ Việt Nam (Viện Hàn lâm KH&CN VN) đã hiện thực hóa chiến lược việc xây dựng cơ sở hạ tầng cho ngành công nghệ vũ trụ (CNVT) tại Khu Công nghệ cao Hòa Lạc nhằm thực hiện Chiến lược Nghiên cứu và Ứng dụng CNVT đến 2020 bằng việc phối hợp với nhóm chuyên gia tư vấn JETRO (Nhật Bản) lập báo cáo tiền khả thi của dự án. TS. Phạm Anh Tuấn là đầu mối chính của Viện Hàn lâm KH&CN VN thực hiện chủ trương này.</div>
					<div class="item-detail">&#9673;Ngày 9/4/2009, trên cơ sở báo cáo tiền khả thi của dự án Trung tâm Vũ trụ Việt Nam, Phó Thủ tướng Nguyễn Thiện Nhân đã kết luận: “Đây là dự án đầu tư trọng điểm, tạo cơ sở nòng cốt để triển khai thực hiện các hoạt động nghiên cứu – triển khai, đào tạo, ứng dụng công nghệ vũ trụ và hợp tác quốc tế trong lĩnh vực công nghệ vũ trụ, nhằm thực hiện chiến lược nghiên cứu và ứng dụng công nghệ vũ trụ đến năm 2020 đã được Thủ tướng phê duyệt”.</div>
				</li>
				<li class="tl-item" ng-repeat="item in retailer_history">
				  <div class="item-title">Giai đoạn 2011 – 2015</div>
				  <div class="item-detail">&#9673;Ngày 16/09/2011, Trung tâm Vệ tinh Quốc gia (TTVTQG) trực thuộc Viện Hàn lâm KH&CN VN được thành lập theo quyết định số 1611/QĐ-TTg của Thủ tướng Chính phủ. TTVTQG có nhiệm vụ quản lý, thực hiện và tiếp nhận dự án xây dựng Trung tâm Vũ trụ Việt Nam.</div>
					<div class="item-detail">&#9673;Tháng 11/2011, Chính phủ Việt Nam và Chính phủ Nhật Bản đã ký hiệp định vay vốn ODA cho dự án Trung tâm Vũ trụ Việt Nam.</div>
					<div class="item-detail">&#9673;Ngày 19/9/2012, trong Thư chúc mừng Lễ khởi công xây dựng Trung tâm Vũ trụ Việt Nam, Phó Thủ tướng Nguyễn Thiện Nhân đã khẳng định “đây là một trong những dự án được đầu tư lớn nhất trong lĩnh vực khoa học và công nghệ của Việt Nam trong 35 năm qua” và “góp phần quan trọng thực hiện Chiến lược nghiên cứu và ứng dụng công nghệ vũ trụ đến 2020”.</div>
					<div class="item-detail">&#9673;Ngày 19/11/2013, Vệ tinh siêu nhỏ PicoDragon do các cán bộ TTVTQG nghiên cứu, chế tạo đã trở thành vệ tinh “Made in Vietnam” đầu tiên hoạt động thành công trong quỹ đạo không gian.</div>
					<div class="item-detail">&#9673;Tháng 9/2015, đã có 35 học viên của TTVTQG được cử đi học thạc sỹ công nghệ vệ tinh tại Nhật Bản và tham gia chế tạo vệ tinh MicroDragon nặng 50 kg, trong đó có 11 học viên khóa 1 đã hoàn thành khóa học và tốt nghiệp.</div>
				</li> 
				  <li class="tl-item" ng-repeat="item in retailer_history">
				  <div class="item-title">Giai đoạn 2016 – 2020</div>
				  <div class="item-detail">&#9673;Hoàn thành xây dựng cơ sở hạ tầng Trung tâm Vũ trụ Việt Nam tại Khu Công nghệ cao Hòa Lạc (2018). Đồng thời hoàn thành Trung tâm Ứng dụng CNVT tại Thành phố Hồ Chí Minh (2020), Trung tâm phát triển nguồn nhân lực và chuyển giao CNVT tại Hà Nội (2016), Đài thiên văn Nha Trang (2017).</div>
					<div class="item-detail">&#9673;Hoàn thiện bộ máy tổ chức các trung tâm tại Hà Nội, Thành phố Hồ Chí Minh và Nha Trang cũng như chuẩn bị nguồn nhân lực đủ cả về chất và lượng đáp ứng nhu cầu phát triển.</div>
					<div class="item-detail">&#9673;Cử 50 lượt cán bộ sang tham gia thiết kế và chế tạo vệ tinh tại Nhật Bản và 32 lượt cán bộ sang đào tạo ứng dụng CNVT tại Nhật Bản.</div>
					<div class="item-detail">&#9673;Tiếp nhận chuyển giao công nghệ 2 vệ tinh nhỏ quan sát trái đất sử dụng công nghệ cảm biến radar (SAR) có độ phân giải cao, hoạt động trong mọi điều kiện thời tiết trong đó vệ tinh thứ 2 sẽ được lắp ráp, tích hợp và thử nghiệm tại Trung tâm Vũ trụ Việt Nam.</div>
				</li> 
				</ul>
				</div>
				</div>
			</div>
		<hr  width="100%" size="2px" align="center" color=#f8f8f8  />
		<div class="noidung5" id="nd5">
			<div class="muc05">
				<div class="faq-header">Frequently Asked Questions</div>

			<div class="faq-content">
			  <div class="faq-question">
				<input id="q1" type="checkbox" class="panel">
				<div class="plus">+</div>
				<label for="q1" class="panel-title">Vũ Trụ là gì?</label>
				<div class="panel-content">&#9673;Vũ trụ bao gồm tất cả các vật chất, năng lượng và không gian hiện có, được coi là một khối bao quát. Vũ trụ hiện tại chưa xác định được kích thước chính xác, nó đã được mở rộng kể từ khi khởi đầu ở vụ nổ Big Bang khoảng 13 tỷ năm trước. Vũ trụ bao gồm các hành tinh, sao, thiên hà, các thành phần của không gian liên sao, những hạt hạ nguyên tử nhỏ nhất, vật chất và năng lượng.</div>
			  </div>

			  <div class="faq-question">
				<input id="q2" type="checkbox" class="panel">
				<div class="plus">+</div>
				<label for="q2" class="panel-title">Viện Nghiên Cứu Vũ Trụ VN có chức năng gì?</label>
				<div class="panel-content">
					&#9673;Nghiên cứu và phát triển các lĩnh vực khoa học và Công nghệ Vũ trụ để làm chủ công nghệ vệ tinh nhỏ. Triển khai ứng dụng khoa học và Công nghệ Vũ trụ (CNVT) trong thực tiễn, cung cấp các dịch vụ gia tăng trong lĩnh vực về CNVT;<br>
					&#9673;Phát triển cơ sở hạ tầng về nghiên cứu và ứng dụng CNVT: Các phòng thí nghiệm và cơ sở thử nghiệm CNVT, vệ tinh quan sát Trái Đất, các trạm mặt đất…;<br>
					&#9673;Tư vấn với các cơ quan quản lý Nhà nước về các chính sách phát triển ứng dụng CNVT, các vấn đề pháp lý trong việc sử dụng khoảng không vũ trụ; đóng vai trò cơ quan thường trực giúp việc chuyên môn cho Uỷ ban Vũ trụ Việt Nam. Cung cấp thông tin về ứng dụng và phát triển CNVT phục vụ công tác quản lý và yêu cầu của các ngành sản xuất,dịch vụ.<br>
				  </div>
			  </div>

			  <div class="faq-question">
				<input id="q3" type="checkbox" class="panel">
				<div class="plus">+</div>
				<label for="q3" class="panel-title">Ngành nghiên cứu vũ trụ là gì?</label>
				<div class="panel-content">&#9673;Nghiên cứu vũ trụ là một lĩnh vực nghiên cứu rộng lớn và được phân loại thành ba hướng chủ yếu: 1. Viễn thám - Quan sát Trái Đất; 2. Công nghệ vệ tinh; 3. Vật lý thiên văn. &nbsp; <a href="https://usth.edu.vn/vi/tuyen-sinh/nganh-khoa-hoc-vu-tru-va-cong-nghe-ve-tinh/nganh-vu-tru-va-ung-dung-hoc-gi-ra-truong-lam-gi-156.html" target="_blank" style="text-decoration: none">Tìm Hiểu Thêm.</a></div>
			  </div>
			</div>
			</div>
		</div>
		<div id="footer">
		<div class="copy_right">
			 <p>&copy; 2021 COSMIC. All rights reserved / Design by 
		     <a class="tenhv" href="#">Lê Huỳnh Đức</a>
		     </p>
		</div>
		
	<div id="mangxh">
		<img class="iconmangxh" src="images/Facebook.png" />
		<img class="iconmangxh" src="images/Twitter.png" />
		<img class="iconmangxh" src="images/Google.png" />	
	</div>
    </div>
		</div>
	<script>			  
function openCity(evt, cityName) {
  var i, tabconten03t, tablinks;
  tabcontent03 = document.getElementById("menu");
var btns = header.getElementsByClassName("btn");
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });
}
	</script>
	<script>
function openCity(evt, cityName) {
  var i, tabcontent03, tablinks;
  tabcontent03 = document.getElementsByClassName("tabcontent03");
  for (i = 0; i < tabcontent03.length; i++) {
    tabcontent03[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

</body>
</html>
